<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace = "~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8" />
<title>Home page</title>
</head>
<body>
	<section>
	<h2>This is about page</h2>	
	
    <div class="upper-containt" style="display: flex;margin-left: 630px; margin-top: 120px;">
        <div class="home-link" style="margin-right: 25px;">
            <h5 style=" cursor: pointer; font-family: cursive;">Home</h5 >
        </div>
        <div class="about">
            <h5 style=" cursor: pointer; font-family: cursive;">About</h5>
        </div>
    </div>
    <h1 style="margin-left: 520px;margin-top: -12px; font-size: 30px;font-family: cursive; font-weight: 700;">Welcome to Our Page</h1>
    <p style="margin-left: 250px;margin-right: 250px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur illo alias aut itaque ipsa? Hic praesentium doloribus molestias cum ex possimus expedita in explicabo, atque soluta ipsam dolore porro eum, ab voluptatibus ratione eius.
    </p>
    <div class="container-img" style=" margin-left: 280px; cursor: pointer;">
        <img src="https://a.storyblok.com/f/64010/2432x1000/a6aeab1afa/hero-about-us.jpg/m/2432x0" alt="" height="300px" width=" 800px">
    </div>
   </section>
	
</body>
</html>