<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Forget Password </title>
</head>
<body>

	<section>
							
		<div class="login-form-bg">
			<div class="row">
				<div class="col-md-6 mx-auto">
					<div class="card" style="background: #c8c8c8; border:0px">
						<div class="login-box">
							<div th:if="${session.message}"
								class="alert alert-dismissible fade show"
								th:classappend="${session.message.type}" role="alert">
								<span th:text="${session.message.content}"></span>
								<button type="button" class="close" data-dismiss="alert"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								<th:block th:text="${@sessionHelper.removeMessageFromSession()}"></th:block>
							</div>
							<div class="login-snip">
								
								<input id="tab-1" type="radio" name="tab" class="sign-in" checked>
										<label for="tab-1" class="tab">Forget Password</label> 
								<input id="tab-2" type="radio" name="tab" class="sign-up">
									<label for="tab-2" class="tab"></label>
								
									
								<div class="login-space">
								
	
								<form action="#" th:action="@{/send-otp}" method="post">
										
										<div class="login">
											<div class="group">
												<label for="user" class="label">Email id</label> 
												<input required="required" id="user" type="email" class="input" name="email"
													placeholder="Enter your Email Id">
											</div>

											<br>
											
											<div class="group ">
												<input type="submit" class="button" value="Send OTP">
											</div>
								
										
								</div>	
								</form>
								
									
									
								</div>
							
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>